[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.6"

[packages]

pytest = "*"
"flake8" = "*"
django = ">=2.0"
djangorestframework = "*"
"dj-database-url" = "*"
"psycopg2" = "*"
entity = {git = "ssh://git@github.com/The-Politico/politico-civic-entity", editable = true}
geography = {git = "ssh://git@github.com/The-Politico/politico-civic-geography", editable = true}
government = {git = "ssh://git@github.com/The-Politico/politico-civic-government", editable = true}
election = {git = "ssh://git@github.com/The-Politico/politico-civic-election", editable = true}
biography = {path = "./..", editable = true}


[dev-packages]
